WITH duplicates AS ( SELECT id, ROW_NUMBER() OVER(PARTITION BY first_name, last_name, phone ORDER BY created_at ASC) as row_num FROM customers) DELETE FROM customers WHERE id IN (SELECT id FROM duplicates WHERE row_num > 1);
