ALTER TABLE appointments ADD COLUMN IF NOT EXISTS source_campaign_id uuid REFERENCES campaigns(id) ON DELETE SET NULL; ALTER TABLE campaign_targets ADD COLUMN IF NOT EXISTS converted_at timestamptz, ADD COLUMN IF NOT EXISTS converted_appointment_id uuid REFERENCES appointments(id) ON DELETE SET NULL;
